<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">../../../logs</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					%t %5p [%d] %c{2} - %m%n
				</pattern>
			</PatternLayout>
		</Console>

		<RollingFile name="CE_ROOT" fileName="${log-path}/KafkaConsumer.log"
			filePattern="${log-path}/$${date:yyyy-MM}/KafkaConsumer-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>
					%t %5p [%d] %c{2} - %m%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 GB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<Async name="ASYNC_ROOT">
			<AppenderRef ref="CE_ROOT" />
		</Async>
		

	</Appenders>
	<Loggers>
		<root level="INFO">
			<AppenderRef ref="Console" />
		</root>

		<Logger name="net.ahm" level="DEBUG" additivity="false">
			<AppenderRef ref="ASYNC_ROOT" />
		</Logger>

		<!-- Class level overrides -->
		<logger name="org.apache"
			level="INFO">
			<appender-ref ref="ASYNC_ROOT" />
		</logger>
	</Loggers>
</Configuration>